<footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-4 text-lg-left text-center">
          <div class="copyright">
            <strong>Club Deportivo Coilaco</strong>
          </div>
          <div class="credits">
            15 de Noviembre de 1933
          </div>
        </div>
        <div class="col-lg-8">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#hero" class="scrollto">Inicio</a>
            <a href="#problem" class="scrollto">Problemática</a>
            <a href="#about" class="scrollto">¿Por qué debería apoyar?</a>
            <a href="#contact" class="scrollto">Apoyanos con tu firma</a>
            <a href="#users" class="scrollto">Listado de apoyos</a>
            <a href="https://www.facebook.com/100004313174414/videos/1680826142071142/" target="_blank">🎥 Microdocumental</a>
          </nav>
        </div>
      </div>
    </div>
  </footer>