<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
        <div class="col-lg-8 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 style="display:block">Club Deportivo Coilaco Temuco</h1>
            <h2 data-aos-delay="400">Durante sus 87 años de vida, el Club Deportivo Coilaco ha desarrollado su actividad social y deportiva en la histórica cancha del Club, la cual se encuentra en los pies del Cerro Ñielol. <span class="highlight">Necesitamos tu apoyo y demuestralo mediante esta plataforma virtual de participación ciudadana para luchar por emblematico barrio.</span></h2>
            <div class="text-center" data-aos-delay="800">
            <a href="#contact" class="btn-get-started scrollto">Demuestranos tu apoyo aquí</a>
            </div>
            <h4 class="counter">Ya tenemos el apoyo de <strong><%= counter %></strong> coilaquinos.</h4>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 hero-img">
            <img width="330" src="img/coilaco.jpg" class="img-fluid " alt="Club Deportivo Coilaco Temuco">
        </div>
        </div>
    </div>
</section><!-- End Hero -->