<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Club Deportivo Coilaco Temuco</title>
  <meta content="Ap贸yanos con tu firma aqu铆. NO nos oponemos a las mejoras del Liceo Tecnol贸gico de Temuco, ni de la Escuela Especial ielol, aleda帽os  a nuestro espacio deportivo, social, cultural y ecol贸gico." name="description">
  <meta content="coilaco, coilaco temuco, club deportivo coilaco" name="keywords">

  <!-- Media Tags-->
  <meta property="og:title" content="Club Deportivo Coilaco">
  <meta property="og:description" content="Ap贸yanos con tu firma aqu铆. NO nos oponemos a las mejoras educativas.">
  <meta property="og:image" content="https://www.coilaco.cl/img/coilaco.jpg">
  <meta property="og:url" content="https://www.coilaco.cl/">  
  <meta property="og:site_name" content="Club Deportivo Coilaco">
  <meta name="twitter:title" content="Club Deportivo Coilaco">
  <meta name="twitter:image:alt" content="Ap贸yanos con tu firma aqu铆. NO nos oponemos a las mejoras educativas.">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
  <link rel="manifest" href="favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
 <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <div class="logo mr-auto">
            coilaco.cl
        </div>

        <nav class="nav-menu d-none d-lg-block">
        <ul>
            <li class="active"><a href="#hero" class="scrollto">Inicio</a></li>
            <li><a href="#problem" class="scrollto">Problem谩tica</a></li>
            <li class=""><a href="#about" class="scrollto">驴Por qu茅 deber铆a apoyar?</a></li>
            <li class=""><a href="#contact" class="scrollto">Ap贸yanos con tu firma</a></li>
            <li><a href="#users" class="scrollto">Listado de firmas</a></li>
            <li><a href="https://www.facebook.com/100004313174414/videos/1680826142071142/" target="_blank"> Microdocumental</a></li>
        </ul>
        </nav><!-- .nav-menu -->
    </div>
  </header>
      
  <!-- ======= Header ======= -->
  <%- include('header.ejs') %>


  <!-- ======= Problems ======= -->
  <%- include('problem.ejs') %>

  <!-- ======= Reasons ======= -->
  <%- include('reasons.ejs') %>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="row">
          <div class="col-lg-8 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <div class="section-title" data-aos="fade-up">
                <h2>  Ap贸yanos</h2>
                <p>Completa el siguiente formulario para demostrarnos tu apoyo. Todos los campos son requeridos:</p>
              </div>

            <form action="/signup" method="post" role="form" id="signup" class="php-email-form">
              <div class="form-group">
                <input type="text" name="fullname" class="form-control" id="fullname" placeholder="Dejanos tu nombre completo" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="dni" id="dni" placeholder="Dejanos tu RUT, sin puntos y con gui贸n. Ej: 1555555-5" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="phone" class="form-control" name="phone" id="phone" placeholder="Dejanos tu tel茅fono" />
                <div class="validate"></div>
              </div>                            
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Dejanos tu correo electr贸nico" />
                <div class="validate"></div>
              </div>

              <div class="form-group">
                <select id="serie" class="form-control">
                  <option value="">Seleccione una opci贸n si quiere participar de alguna serie</option>
                  <option value="Penecas">Penecas</option>
                  <option value="Juvenil">Juvenil</option>
                  <option value="Infantil">Infantil</option>
                  <option value="Segunda">Segunda</option>
                  <option value="Primera">Primera (Honor)</option>
                  <option value="Senior">Senior</option>
                  <option value="Super Senior">Super Senior</option>
                </select>
              </div>

              <div class="form-group">
                <textarea class="form-control" id="message" name="message" rows="5" required="required" placeholder="Ingresanos tu mensaje de apoyo"></textarea>
                <div class="validate"></div>
              </div>
              <div class="text-center"><button type="submit">Danos tu apoyo</button></div>
            </form>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">

            <div class="info">

                <br /><br />
                <h3>驴Dudas, Consultas?</h3>
                <br />
                <div>
                  <i class="ri-map-pin-line"></i>
                  <p>Carrera con Balmaceda a los pies del Cerro ielol.</p>
                </div>
  
                <div>
                  <i class="ri-mail-send-line"></i>
                  <p>cdcoilacotemuco@gmail.com</p>
                </div>
  
                <div>
                  <i class="ri-phone-line"></i>
                  <p><a href="tel:+5699213 2541">+56 9 9213 2541</a></p>
                </div>

                <div>
                  <i class="ri-phone-line"></i>
                  <p><a href="tel:+56947132182">+56 9 4713 2182</a></p>
                </div>
              </div>
              
              <div class="social-links">
                <a href="https://www.facebook.com/clubdeporcoilaco" target="_blank" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="https://www.instagram.com/cd_coilaco/" class="instagram" target="_blank"><i class="icofont-instagram"></i></a>
              </div>

          </div>
        </div>
        
      </div>
    </section><!-- End Contact Section -->

    <section id="users" class="users">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2> Hemos recibido las siguientes firmas de apoyo</h2>
        </div>

        <div id="users-messages"></div>
    </section>

  </main><!-- End #main -->


<section id="location" class="d-flex align-items-center">
  <div class="container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d778.1031729677076!2d-72.59603351182851!3d-38.731290998718535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzjCsDQzJzUyLjciUyA3MsKwMzUnNDMuOCJX!5e0!3m2!1ses-419!2scl!4v1603919262582!5m2!1ses-419!2scl" width="100%" height="250" frameborder="0" style="border:0;margin-bottom:20px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</section><!-- End Hero -->

  <%- include('footer.ejs') %>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/counterup/counterup.min.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/moment/moment.js"></script>
  <script src="vendor/moment/timezone.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>