<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Club Deportivo Coilaco Temuco</title>
  <meta content="El Deportivo Coilaco fue fundado el 15 de Noviembre de 1933 en Temuco por vecinos del Barrio Coilaco" name="description">
  <meta content="coilaco, coilaco temuco, club deportivo coilaco" name="keywords">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
  <link rel="manifest" href="favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-8 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>⚽ Club Deportivo Coilaco Temuco</h1>
          <h2 data-aos-delay="400">Durante sus 87 años de vida, el Club Deportivo Coilaco ha desarrollado su actividad social y deportiva en la histórica cancha del Club, la cual se encuentra en los pies del Cerro Ñielol. <span class="highlight">Necesitamos tu apoyo y demuestralo mediante esta plataforma virtual de participación ciudadana.</span></h2>
          <div class="text-center" data-aos-delay="800">
            <a href="#contact" class="btn-get-started scrollto">Demuestranos tu apoyo aquí</a>
          </div>
          <h4 class="counter">Ya tenemos el apoyo de <strong>2322</strong> coilaquinos.</h4>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img width="330" src="img/coilaco.jpg" class="img-fluid " alt="Club Deportivo Coilaco Temuco">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <h2>
          <span class="main highlight"><span>⚠️</span> <strong>NO nos oponemos a las mejoras</strong> del Liceo Industrial de Temuco, ni de la Escuela Especial Ñielol, aledaños  a nuestro espacio deportivo, social, cultural y ecológico.</span></h2>
        <br /><br />
        <div class="section-title" data-aos="fade-up">
          <h2>🤔 ¿Porqué debería apoyar?</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <ul>
              <li><i class="ri-check-double-line"></i> Club fundado el 15 de Noviembre de 1933</li>
              <li><i class="ri-check-double-line"></i> Queremos proteger nuestro patrimonio e historia</li>
              <li><i class="ri-check-double-line"></i> Somos amigable con nuestros pueblos originarios, nuestra naturaleza, nuestra fauna, nuestras prácticas sociales y el amor de Barrio. </li>
              <li><i class="ri-check-double-line"></i> Nos negamos a que la Historia del Fútbol Amateur de Temuco desaparezca por una ilógica calle.</li>
              <li><i class="ri-check-double-line"></i> Creemos plenamente en que la ciudadanía merece ser partícipe de su propia Historia.</li>
              <li><i class="ri-check-double-line"></i> Tenemos plantados cerca de 40 árboles Nativos en nuestro EcoParke Koilako.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <ul>
              <li><i class="ri-check-double-line"></i> Tenemos una escuela de fútbol para niños creada durante años.</li>
              <li><i class="ri-check-double-line"></i> Creemos que el deporte al aire libre es primordial para el desarrollo físico y emocional.</li>
              <li><i class="ri-check-double-line"></i> Nos preocupamos por mantener la limpieza del espacio.</li>
              <li><i class="ri-check-double-line"></i> Debemos preservar este último paño verde a los pies del cerro Ñielol.</li>  
              <li><i class="ri-check-double-line"></i> Es un punto de encuentro comunitario y deportivo de nuestras vecinas y vecinos del Barrio Patrimonial Coilaco, de la comunidad temucana en general.</li>
              <li><i class="ri-check-double-line"></i> Tenemos una huerta comunitaria.</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>🤝 ¡Completa los siguientes datos para apoyarnos!</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>Club Deportivo Coilaco</h3>
              <p>El Deportivo Coilaco fue fundado el 15 de Noviembre de 1933 en Temuco por vecinos del Barrio Coilaco.</p>
              <div class="social-links">
                <a href="https://www.facebook.com/clubdeporcoilaco" target="_blank" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="https://www.instagram.com/cd_coilaco/" class="instagram" target="_blank"><i class="icofont-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>Carrera con Balmaceda a los pies del Cerro Ñielol.</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>cdcoilacotemuco@gmail.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+56 9 4713 2182</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form action="/signup" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Dejanos tu nombre" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="rut" id="rut" placeholder="Dejanos tu RUT" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Dejanos tu correo electrónico" />
                <div class="validate"></div>
              </div>              
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" required="required" placeholder="Ingresanos tu mensaje de apoyo"></textarea>
                <div class="validate"></div>
              </div>
              <div class="text-center"><button type="submit">Danos tu apoyo</button></div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->



    <section id="users" class="users">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>🤟 Hemos recibido los siguientes apoyos</h2>
        </div>
        
        <!-- Apoyos -->
        <div class="row faq-item d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-4">
            <h5>Fabían Ramírez</h5>
            <p>15.550.2XX-X</p>
          </div>
          <div class="col-lg-8">
            <p><strong>Jueves 18 de septiembre, 2020 a las 12:23PM</strong>
            <br />
            No podemos perder la identidad de la ciudad de Temuco. Daremos la lucha hasta el final.</p>
          </div>
        </div>

        <div class="row faq-item d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-4">
            <h5>David Fuentes</h5>
            <p>15.550.3XX-X</p>
          </div>
          <div class="col-lg-8">
            <p><strong>Jueves 20 de septiembre, 2020 a las 12:23PM</strong>
            <br />
            Daremos la lucha de todas las maneras posibles.</p>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->


  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            <strong>Club Deportivo Coilaco</strong>
          </div>
          <div class="credits">
            15 de Noviembre de 1933
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#hero" class="scrollto">Inicio</a>
            <a href="#about" class="scrollto">¿Porqué debería apoyar?</a>
            <a href="#contact">Demuestranos tu apoyo</a>
            <a href="#users">Listado de apoyos</a>
          </nav>
        </div>
      </div>
    </div>
  </footer>


  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>