
<main id="problem">
    <section id="problem" class="problem">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>❓ Problemática</h2>
        </div>

        <div class="row content justify-content-center">
          <p style="text-align:justify">El Club Deportivo Coilaco lamentablemente se entera hace par de meses y por sus propios medios, que la Municipalidad de Temuco - Chile, con el respaldo de los concejales tienen planificada la construcción de una calle de uso público, contemplada en Proyecto Serviu N°18-6014, con financiamiento y dineros propios del Ministerio de Educación. Dicha calle pasará por sobre el recinto comunitario y deportivo del Barrio Patrimonial Coilaco - Temuco, Chile, y que el Club Deportivo Coilaco ha utilizado desde su fundación ininterrumpidamente durante 87 años. Este proyecto que destruye y erradica por completo la cancha del barrio patrimonial Coilaco, un espacio comunitario, intenta dar cabida a una calle innecesaria, que no reporta mayores beneficios a la comunidad.</p>
          <p style="text-align:justify">Esta calle es una obra de vialidad, cuyo financiamiento no puede provenir de dineros destinados a la educación. <a href="https://www.facebook.com/100004313174414/videos/1680826142071142/" target="_blank">🎥 Ver Microdocumental</a>.</p>
        </div>
      </div>
    </section><!-- End About Us Section -->