
<main id="problem">
    <section id="problem" class="problem">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>🤷‍♂️ Problematica</h2>
        </div>

        <div class="row content">
          <p>El Club Deportivo Coilaco hace un par de meses se entera por sus propios medios que la Municipalidad de Temuco - Chile, con el respaldo de los concejales planifican construir una calle de uso pùblico, Proyecto Serviu N°18-6014, con dineros del Ministerio de Educación sobre el recinto comunitario y deportivo del Barrio Patrimonial Coilaco - Temuco, Chile, y que el Club Deportivo Coilaco ha utilizado desde su fundación ininterrumpidamente durante 87 años. Proyecto que destruye e erradica por completo la cancha del barrio patrimonial Coilaco.</p>
        </div>
      </div>
    </section><!-- End About Us Section -->