<main id="main">
    <section id="about" class="about">
      <div class="container">
        <h2>
          <span class="main highlight"><span>丘멆잺</span> <strong>NO nos oponemos a las mejoras</strong> del Liceo Tecnol칩gico de Temuco, ni de la Escuela Especial 칌ielol, aleda침os  a nuestro espacio deportivo, social, cultural y ecol칩gico.</span></h2>
        <br /><br />
        <div class="section-title" data-aos="fade-up">
          <h2>游뱂 쯇orqu칠 deber칤a apoyar?</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <ul>
              <li><i class="ri-check-double-line"></i> Club fundado el 15 de Noviembre de 1933.</li>
              <li><i class="ri-check-double-line"></i> Queremos proteger nuestro patrimonio e historia.</li>
              <li><i class="ri-check-double-line"></i> Somos amigable con nuestros pueblos originarios, nuestra naturaleza, nuestra fauna, nuestras pr치cticas sociales y el amor de Barrio.</li>
              <li><i class="ri-check-double-line"></i> Nos negamos a que la Historia del F칰tbol Amateur de Temuco desaparezca por una il칩gica calle.</li>
              <li><i class="ri-check-double-line"></i> Creemos plenamente en que la ciudadan칤a merece ser part칤cipe de su propia Historia.</li>
              <li><i class="ri-check-double-line"></i> Tenemos plantados cerca de 40 치rboles Nativos en nuestro EcoParke Koilako.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <ul>
              <li><i class="ri-check-double-line"></i> Tenemos una escuela de f칰tbol para ni침os creada durante a침os.</li>
              <li><i class="ri-check-double-line"></i> Creemos que el deporte al aire libre es primordial para el desarrollo f칤sico y emocional.</li>
              <li><i class="ri-check-double-line"></i> Nos preocupamos por mantener la limpieza del espacio.</li>
              <li><i class="ri-check-double-line"></i> Debemos preservar este 칰ltimo pa침o verde a los pies del cerro 칌ielol.</li>  
              <li><i class="ri-check-double-line"></i> Es un punto de encuentro comunitario y deportivo de nuestras vecinas y vecinos del Barrio Patrimonial Coilaco, de la comunidad temucana en general.</li>
              <li><i class="ri-check-double-line"></i> Tenemos una huerta comunitaria.</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->